<mat-grid-list cols="1" rowHeight="2:1">
  <mat-grid-tile>
    <div class="example-container">
      <h3>Coluna de Habilidade</h3>
    
      <div
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="skills"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let item of skillsColumns" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h3>A Tabela</h3>
      <div>
        <ngx-datatable
      class="bootstrap"
      [rows]="dadosTabela"
      [columns]="columns"
      [columnMode]="ColumnMode"
      [headerHeight]="50"
      [footerHeight]="50"
      [reorderable]="reorderable"
      >
    </ngx-datatable>
      </div>
  </div>
  </mat-grid-tile>
</mat-grid-list>