<body id="dragdrop">
  <div id="drag" cdkDropListGroup>
    <div class="example-boundary">
      <div class="example-box1 " cdkDragBoundary=".example-boundary" cdkDragLockAxis="x" cdkDrag>
        <div class="example-container">
          <h2>To do</h2>

          <div cdkDropList [cdkDropListData]="rows"  class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let todo of rows" cdkDragBoundary=".example-boundary" cdkDrag>{{todo.name}}
            </div>
          </div>
        </div>

      </div>
      <div class="example-box1" cdkDragBoundary=".example-boundary" cdkDragLockAxis="x" cdkDrag>

        <div class="example-container">
          <h2>Done</h2>

          <div cdkDropList [cdkDropListData]="rows1"  class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" cdkDragBoundary=".example-boundary" *ngFor="let done of rows1" cdkDrag>{{done.name}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="container">
      <div class="row">
        <div class="col">
          <pre>{{rows | json}}</pre>
        </div>
        <div class="col-6">
          <pre>{{rows1 | json}}</pre>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <ngx-datatable
          class="material"
          [rows]="rows"
          [columns]="columns"
        >
        </ngx-datatable>
        </div>
        <div class="col-6">
          <ngx-datatable
          class="material"
          [rows]="rows1"
          [columns]="columns1"
          
        >
        </ngx-datatable>
        </div>
       
      </div>
    </div>
   
  </div>
</body>