<div class="container">

  <div class="row" cdkDropListGroup>

    <div class="col-6">

      <div class="example-container">

        <h3>Colunas Da Tabela</h3>
        <!--cdkDropListData - Permite fazer a ação do drag drop.
            cdkDropListOrientation - Exibe os item na horizontal.-->
        <div 
        cdkDropList 
        [cdkDropListData]="columns" 
        cdkDropListOrientation="horizontal" 
        cdkDragLockAxis = "x"
        class="example-list" 
        (cdkDropListDropped)="drop($event)">

              <div 
                  class="example-box" 
                  *ngFor="let coluna of columns" 
                  cdkDrag>{{coluna.name}}
              </div>

        </div>
        
      </div>

    </div>

    <div class="col-6">

      <div class="example-container">

        <h3>Colunas Livres</h3>

        <div cdkDropList 
        [cdkDropListData]="colunasLivres" 
        cdkDropListOrientation="horizontal" 
        cdkDragLockAxis = "x"
        class="example-list" 
        (cdkDropListDropped)="drop($event)">

              <div 
                  class="example-box" 
                  *ngFor="let coluna of colunasLivres" 
                  cdkDrag>
                  {{coluna.name}}
              </div>

        </div>

      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-12">

      <div>

        <h3>A Tabela</h3>

        <div>

          <ngx-datatable 
                  class="bootstrap" 
                  [rows]="dadosTabela" 
                  [columns]="columns" 
                  [columnMode]="ColumnMode"
                  [headerHeight]="50" 
                  [footerHeight]="50" 
                  [reorderable]="reorderable">
          </ngx-datatable>

        </div>

      </div>

    </div>

  </div>

</div>